<h1>Contact Us</h1>
<div class="row" >
    <div class="col-sm-4">
        <address> Vesterbrogade 44, 1620 København, Denmark
        </address>
        <phone>+45 53 53 67 97</phone>
    </div>

<div class="col-sm-8">
<h4>Google map</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.9295296906366!2d12.553172415628014!3d55.67282558053204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652530b299d6cc1%3A0x837d773d5a375fab!2sBonjour+Vietnam+Caf%C3%A9+%26+Restaurant!5e0!3m2!1sen!2s!4v1476349418000" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>