<ul class="list-group">
    <% @food_items.each do |food_item|%>
      <li class="list-group-item">
            <%= link_to food_item.name, food_item_path(food_item.id)%>
            <span class="tag tag-default tag-pill"><%= food_item.price %></span>
            <span class="btn btn-info pull-sm-right"><%= link_to 'Edit', edit_food_item_path(food_item) %></span>
            <span class="btn btn-danger pull-sm-right"><%= link_to 'Destroy', food_item, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </li>
      <%end%>
</ul>